body {
    font-family: Arial;
    background-color: #1f4e79;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px 40px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.tab .tablinks.active{
  background-color: yellow;
}

.datetime{
  color: white;
  display: inline-block;
}

.search{
  display: inline-block;
}

.header{
  display: block;
  height: 85px;
}
.header .title{
  display: inline-block;
  color: white;
}

.header .logo{
  float:right;
  display: inline-block;

}

#liveScreen ul{
  background-color: #70ad47;
  padding: 30px;
}
#liveScreen ul li{
  color: white;
  list-style:none;
}
#liveScreen ul li.vehicle{
  text-align: center;
  list-style: none;
}

#liveScreen .listDriver{
  margin-top: 25px;;
}